version: '3.8'

services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped

  bot:
    build: .
    depends_on:
      - redis
    env_file:
      - .env
    volumes:
      - ./models:/app/models
      - ./data:/app/data
      - ./logs:/app/logs
    restart: unless-stopped
    environment:
      - REDIS_URL=redis://redis:6379/0
      - PYTHONPATH=/app  # Важно для импортов

volumes:
  redis_data:
