backtrader==1.9.76.123
stable-baselines3==2.3.2
gymnasium==0.29.1
pandas-ta==0.4.71b0
vaderSentiment==3.3.2
ccxt==4.3.47
numpy==1.26.4
pandas==2.2.2
asyncio
python-dotenv==1.0.0
logging
pytest==8.2.0
newsapi-python==0.2.7
redis==5.0.1
